{% extends 'base.html' %} {% block header %}
<h1>{% block title %} Train Bookings {% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="first_name">Fist Name</label>
  <input
    name="first_name"
    id="first_name"
    value="{{ request.form['first_name'] }}"
    required
    placeholder="Please enter the first name of the passanger"
  />
  <label for="last_name">Last Name</label>
  <input
    name="last_name"
    id="last_name"
    value="{{ request.form['last_name'] }}"
    required
    placeholder="Please enter the last name of the passanger"
  />
  <input type="submit" value="Search" />
</form>
{% if last_name != '' and first_name != '' and trains|length >= 1 %}
<div>
  Trains booked by
  <b>{{request.form['first_name']}} {{request.form['last_name']}} are:</b>
</div>
{% for train in trains %}
<div>Train Name: {{train.train_name}}</div>
{% endfor %} {% elif last_name != '' and first_name != '' and trains|length == 0
%}
<div>
  <b> {{request.form['first_name']}} {{request.form['last_name']}}</b> is not
  traevelling in any of the trains.
</div>
{%else%}
<div>
  <b
    >Enter the name of the passenger and click search to see which train they
    have booked tickets</b
  >
</div>
{%endif%}{% endblock %}
