<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RRS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/basic.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1>RRS</h1>
      <ul>
        <li>
          <a href="{{ url_for('railway.booked_trains') }}"
            >Train Booking Search</a
          >
        </li>
        <li>
          <a href="{{ url_for('railway.get_confirmed_passengers')}}"
            >Confirmed Tickets</a
          >
        </li>
        <li>
          <a href="{{ url_for('railway.get_passengers_by_age') }}"
            >Passengers by age</a
          >
        </li>
        <li>
          <a href="{{ url_for('railway.get_train_status')}}">Train Status</a>
        </li>
        <li>
          <a href="{{ url_for('railway.get_train_passengers')}}"
            >Train Passengers</a
          >
        </li>
        <li>
          <a href="{{ url_for('railway.cancel_ticket') }}">Cacel Ticket</a>
        </li>
      </ul>
    </nav>
    <section class="content">
      <header>{% block header %}{% endblock %}</header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>
    {% block javascript %} {% endblock %}
  </body>
</html>
