<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rail Yatri</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/basic.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1>Rail Yatri</h1>
      <ul>
        <li><a href="{{ url_for('railway.booked_trains') }}">Trains</a></li>
        <li>Train Status</li>
        <li>Passengers</li>
        <li>Booking Status</li>
        {# {% if g.user %}
        <li><span>{{ g.user['username'].capitalize() }}</span></li>
        <li><a href="{{ url_for('auth.logout') }}"> Logout </a></li>
        {% else%}
        <li><a href="{{ url_for('auth.register') }}"> Register </a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %} #}
      </ul>
    </nav>
    <section class="content">
      <header>{% block header %}{% endblock %}</header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>
  </body>
</html>
