<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RRS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/basic.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1>RRS</h1>
      <ul>
        <li>
          <a href="{{ url_for('railway.booked_trains') }}">Train Bookings</a>
        </li>
        <li>
          <a href="{{ url_for('railway.get_confirmed_passengers')}}"
            >Confirmed Tickets</a
          >
        </li>
        <li>
          <a href="{{ url_for('railway.get_passengers_by_age') }}"
            >Passengers by age</a
          >
        </li>
        <li>
          <a href="{{ url_for('railway.get_train_status')}}">Trains Status</a>
        </li>
        <li>
          <a href="{{ url_for('railway.get_train_passengers')}}"
            >Train Passengers</a
          >
        </li>
        <li>
          <a href="{{ url_for('railway.cancel_ticket') }}">Cacel Ticket</a>
        </li>
        {# {% if g.user %}
        <li><span>{{ g.user['username'].capitalize() }}</span></li>
        <li><a href="{{ url_for('auth.logout') }}"> Logout </a></li>
        {% else%}
        <li><a href="{{ url_for('auth.register') }}"> Register </a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %} #}
      </ul>
    </nav>
    <section class="content">
      <header>{% block header %}{% endblock %}</header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>
    {% block javascript %} {% endblock %}
  </body>
</html>
